{% extends 'base.html' %}

{% block content %}

<h2 class="page-title">Shopping Cart</h2>

{% if items %}

<div class="cart-container">

    <div class="cart-items">

        {% for item in items %}

        <div class="cart-card">

            <div class="cart-image">

                {% if item.product.image %}
                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                {% else %}
                    <img src="https://via.placeholder.com/120x120?text=No+Image" alt="No Image">
                {% endif %}

            </div>

            <div class="cart-info">

                <h4>{{ item.product.name }}</h4>

                <p>TZS {{ item.product.price }}</p>

                <div class="qty-controls">

                    <a href="{% url 'decrease_quantity' item.id %}">−</a>

                    <span>{{ item.quantity }}</span>

                    <a href="{% url 'increase_quantity' item.id %}">+</a>

                </div>

            </div>

            <div class="cart-total">

                <h5>
                    TZS {{ item.total_price }}
                </h5>

                <a href="{% url 'remove_item' item.id %}"
                   class="remove-btn">

                    Remove

                </a>

            </div>

        </div>

        {% endfor %}

    </div>

    <div class="summary-card">

        <h3>Order Summary</h3>

        <hr>

        <h4>Total</h4>

        <h2>TZS {{ total }}</h2>

        <a href="{% url 'checkout' %}" class="checkout-btn">
    Proceed to Checkout
</a>

            Proceed to Checkout

        </a>

    </div>

</div>

{% else %}

<div class="empty-cart">

<h2>Your cart is empty</h2>

<p>Browse products and start shopping.</p>

<a href="/products/" class="btn-shop">

Start Shopping

</a>

</div>

{% endif %}

{% endblock %}