{% extends 'base.html' %}

{% block content %}

<div class="payment-container">

    <div class="payment-card">

        <h2>💳 Payment</h2>

        <p class="payment-text">
            Complete your payment to confirm your order.
        </p>

        <div class="payment-summary">

            <div class="summary-row">
                <span><strong>Total Amount</strong></span>
                <strong>TZS {{ order.total_amount }}</strong>
            </div>

        </div>

        <form method="POST">

            {% csrf_token %}

           <h4 class="method-title">Choose Payment Method</h4>

<h4 class="method-title">Choose Payment Method</h4>

<div class="payment-methods">

    <!-- M-Pesa -->
    <label class="method-card">
        <input type="radio" name="method" value="M-Pesa" required>

        <div class="method-content">
            <img src="{% static 'images/payment/mpesa.png' %}" class="payment-logo">

            <div>
                <h5>M-Pesa</h5>
                <p>Vodacom Tanzania</p>
            </div>
        </div>
    </label>

    <!-- Airtel -->
    <label class="method-card">
        <input type="radio" name="method" value="Airtel Money">

        <div class="method-content">
            <img src="{% static 'images/payment/airtel-money.png' %}" class="payment-logo">

            <div>
                <h5>Airtel Money</h5>
                <p>Airtel Tanzania</p>
            </div>
        </div>
    </label>

    <!-- Mixx -->
    <label class="method-card">
        <input type="radio" name="method" value="Mixx">

        <div class="method-content">
            <img src="{% static 'images/payment/mixx.png' %}" class="payment-logo">

            <div>
                <h5>Mixx by Yas</h5>
                <p>Formerly Tigo Pesa</p>
            </div>
        </div>
    </label>

    <!-- CRDB -->
    <label class="method-card">
        <input type="radio" name="method" value="CRDB">

        <div class="method-content">
            <img src="{% static 'images/payment/crdb.png' %}" class="payment-logo">

            <div>
                <h5>CRDB Bank</h5>
                <p>Bank Transfer</p>
            </div>
        </div>
    </label>

    <!-- NMB -->
    <label class="method-card">
        <input type="radio" name="method" value="NMB">

        <div class="method-content">
            <img src="{% static 'images/payment/nmb.png' %}" class="payment-logo">

            <div>
                <h5>NMB Bank</h5>
                <p>Bank Transfer</p>
            </div>
        </div>
    </label>

    <!-- Cash -->
    <label class="method-card">
        <input type="radio" name="method" value="Cash">

        <div class="method-content">
            <img src="{% static 'images/payment/cash.png' %}" class="payment-logo">

            <div>
                <h5>Cash On Delivery</h5>
                <p>Pay after receiving the order</p>
            </div>
        </div>
    </label>

</div>