{% extends 'base.html' %}

{% block content %}

<div class="about-section">

    <h1>About ShopSmart</h1>

    <p>
        ShopSmart is an Online Shopping System developed by 
        Bachelor students GROUP No.42 in cybersecurity at IAA
        using Django and MySQL.
    </p>

    <p>
        The system allows customers to browse products,
        add products to cart, place orders and make payments.
    </p>

    <p>
        Administrators can manage products, categories,
        inventory, orders and reports.
    </p>

</div>

{% endblock %}